body {
  background-color: #f6d050;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  min-width: 250px;
  max-width: 300px;
  min-height: 450px;
  border: black 0.1rem solid;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 0.5rem black;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.card-content {
  margin: 1rem;
  height: 100%;
}

.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.article-img {
  border-radius: 1rem;
}

.card-tag {
  background-color: #f6d050;
  border-radius: 0.25rem;
  width: max-content;
}

.card-tag-text {
  font-weight: bold;
  padding: 0.25rem 0.5rem;
}

h1 {
  font-size: 1.25rem;
}

p {
  font-size: 0.75rem;
}

.description {
  color: #949494;
  font-size: 0.8rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.author-container {
  width: 100%;
  align-self: flex-end;
  display: flex;
  align-items: center;
}

.author-image-container {
  height: 2rem;
  border-radius: 1rem;
  margin: 1rem;
  margin-right: 0.75rem;
  width: fit-content;
}

.author-image {
  max-width: 100%;
  max-height: 100%;
}

.author-name {
  font-weight: bold;
}

p,
h1 {
  font-family: Figtree;
}
